# Built in Data Structures

A data structure is a way of storing and organizing data according to a certain format or structure.

The four primary built-in data structures offered in Python3 are:

* List

* Tuple

* Dictionary

* Set

## Lists

In [1]:
# Creating a list

jon_snow = ["Jon Snow", "Winterfell", 30]
print(jon_snow)

# Indexing
print(jon_snow[0])

# Length
print(len(jon_snow))

['Jon Snow', 'Winterfell', 30]
Jon Snow
3

In [2]:
# Mutable functionality

jon_snow = ["Jon Snow", "Winterfell", 30]
print(jon_snow[2])
jon_snow[2] += 3
print(jon_snow[2])

30
33

In [4]:
# Converting a range to a list

num_seq = range(0, 10)  # A sequence from 0 to 9
num_list = list(num_seq)  # The list() method casts the sequence into a list
print(num_list)

num_seq = range(3, 20, 3)  # A sequence from 3 to 19 with a step of 3
print(list(num_seq))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 6, 9, 12, 15, 18]

In [7]:
# Lists-ception! aka List of Lists

world_cup_winners = [[2006, "Italy"], [2010, "Spain"],
                     [2014, "Germany"], [2018, "France"]]
print(world_cup_winners)
print('\n')

# Nested Lists Indexing
world_cup_winners = [[2006, "Italy"], [2010, "Spain"],
                     [2014, "Germany"], [2018, "France"]]
print(world_cup_winners[1])
print(world_cup_winners[1][1])  # Accessing 'Spain'
print(world_cup_winners[1][1][0])  # Accessing 'S'

[[2006, 'Italy'], [2010, 'Spain'], [2014, 'Germany'], [2018, 'France']]


[2010, 'Spain']
Spain
S

In [9]:
# Merging Lists
# Addition

part_A = [1, 2, 3, 4, 5]
part_B = [6, 7, 8, 9, 10]
merged_list = part_A + part_B
print(merged_list)
print('\n')

# Extending
part_A = [1, 2, 3, 4, 5]
part_B = [6, 7, 8, 9, 10]
part_A.extend(part_B)
print(part_A)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Common List Operations

In [10]:
# Adding elements to a list using append

num_list = []  # Empty list
num_list.append(1)
num_list.append(2)
num_list.append(3)
print(num_list)

[1, 2, 3]

In [11]:
# Inserting a value into a list with specified index

num_list = [1, 2, 3, 5, 6]
num_list.insert(3, 4)  # Inserting 4 at the 3rd index. 5 and 6 shifted ahead
print(num_list)

[1, 2, 3, 4, 5, 6]

In [16]:
# Removing elements from a list
# Defaults to last element, but you can pass an index to .pop()

houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
last_house = houses.pop()
print(last_house)
print(houses)

Slytherin
['Gryffindor', 'Hufflepuff', 'Ravenclaw']

In [18]:
# Deleting an element from a list using .remove()

houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
print(houses)
houses.remove("Ravenclaw")
print(houses)

# For nested lists
populations = [["Winterfell", 10000], ["King's Landing", 50000],
               ["Iron Islands", 5000]]
print(populations)
populations.remove(["King's Landing", 50000])
print(populations)

['Gryffindor', 'Hufflepuff', 'Ravenclaw', 'Slytherin']
['Gryffindor', 'Hufflepuff', 'Slytherin']
[['Winterfell', 10000], ["King's Landing", 50000], ['Iron Islands', 5000]]
[['Winterfell', 10000], ['Iron Islands', 5000]]

In [24]:
# List slicing

num_list = [1, 2, 3, 4, 5, 6, 7, 8]
print(num_list[2:5])
print(num_list[0::2])

[3, 4, 5]
[1, 3, 5, 7]

In [25]:
# List index search

cities = ["London", "Paris", "Los Angeles", "Beirut"]
print(cities.index("Los Angeles"))  # It is at the 2nd index

2

In [27]:
# Using the in operator

cities = ["London", "Paris", "Los Angeles", "Beirut"]
print("London" in cities)
print("Moscow" not in cities)

True
True

In [28]:
# Sorting a list 

num_list = [20, 40, 10, 50.4, 30, 100, 5]
num_list.sort()
print(num_list)

[5, 10, 20, 30, 40, 50.4, 100]

## List Comprehensions

In [29]:
# Creating a new list using an existing one

nums = [10, 20, 30, 40, 50]

# List comprehension
nums_double = [n * 2 for n in nums]

print(nums)
print(nums_double)

[10, 20, 30, 40, 50]
[20, 40, 60, 80, 100]

In [31]:
# List comprehension with single condition

nums = [10, 20, 30, 40, 50]

# List comprehension
nums_double = [n * 2 for n in nums if n % 4 == 0]

print(nums)
print(nums_double)

[10, 20, 30, 40, 50]
[40, 80]

In [38]:
# Using Mutliple Lists
# List comprehensions like this will iterate through all combinations

list1 = [30, 50, 110, 40, 15, 75]
list2 = [10, 60, 20, 50]

sum_list = [(n1, n2) for n1 in list1 for n2 in list2 if n1 + n2 > 100]

print(sum_list)

[(50, 60), (110, 10), (110, 60), (110, 20), (110, 50), (75, 60), (75, 50)]

## Tuples

The primary difference between tuples and lists is that tuples are immutable, meaning you cant make inplace changes such as appending or removing elements.

In [40]:
# Creating a tuple
# Indexing and slicing are the same as for lists

car = ("Ford", "Raptor", 2019, "Red")
print(car)

# Length
print(len(car))

# Indexing
print(car[1])

# Slicing
print(car[2:])

('Ford', 'Raptor', 2019, 'Red')
4
Raptor
(2019, 'Red')

In [41]:
# Merging tuples is the same as for lists

hero1 = ("Batman", "Bruce Wayne")
hero2 = ("Wonder Woman", "Diana Prince")
awesome_team = hero1 + hero2
print(awesome_team)

('Batman', 'Bruce Wayne', 'Wonder Woman', 'Diana Prince')

In [42]:
# Nested tuples

hero1 = ("Batman", "Bruce Wayne")
hero2 = ("Wonder Woman", "Diana Prince")
awesome_team = (hero1, hero2)
print(awesome_team)

(('Batman', 'Bruce Wayne'), ('Wonder Woman', 'Diana Prince'))

In [43]:
# Tuple Search

cities = ("London", "Paris", "Los Angeles", "Tokyo")
print("Moscow" in cities)

False

In [44]:
# Tuple indexing

cities = ("London", "Paris", "Los Angeles", "Tokyo")
print(cities.index("Tokyo"))

3

## Dictionaries

A dictionary stores key-value pairs, where each unique key is an index which holds the value associated with it. Dictionaries have no explicit order of the key-value pairs.

In [45]:
# Creating a dictionary

empty_dict = {}  # Empty dictionary
print(empty_dict)

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

{}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}

In [46]:
# Using the dict() constructor

empty_dict = dict()  # Empty dictionary
print(empty_dict)

phone_book = dict(Batman=468426, Cersei=237734, Ghostbusters=44678)
# Keys will automatically be converted to strings
print(phone_book)

# Alternative approach
phone_book = dict([('Batman', 468426),
                   ('Cersei', 237734),
                   ('Ghostbusters', 44678)])
print(phone_book)

{}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}

In [47]:
# Accessing key-value pairs

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book["Cersei"])
print(phone_book.get("Ghostbusters"))

237734
44678

## Dictionary Operators

In [48]:
# Updating values

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

phone_book["Godzilla"] = 46394  # New entry
print(phone_book)

phone_book["Godzilla"] = 9000  # Updating entry
print(phone_book)

{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 46394}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 9000}

In [51]:
# Deleting key-value pairs

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

del phone_book["Batman"]
print(phone_book)
print('\n')

# Alternative methods
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

cersei = phone_book.pop("Cersei")
print(phone_book)
print(cersei)

# Removes and returns the last inserted pair, as a tuple
# In Python versions before 3.7, popitem() removes and returns the random item
lastAdded = phone_book.popitem()
print(lastAdded)

{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Cersei': 237734, 'Ghostbusters': 44678}


{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Batman': 468426, 'Ghostbusters': 44678}
237734
('Ghostbusters', 44678)

In [54]:
# Checking key existence

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}

print("Batman" in phone_book)
print("Godzilla" in phone_book)

True
False

In [55]:
# Combining dictionaries

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}

second_phone_book = {"Catwoman": 67423, "Jaime": 237734, "Godzilla": 37623}

# Add secondphone_book to phone_book
phone_book.update(second_phone_book)
print(phone_book)

{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Catwoman': 67423, 'Jaime': 237734, 'Godzilla': 37623}

In [57]:
# Dictionary comprehension

houses = {1: "Gryffindor", 2: "Slytherin", 3: "Hufflepuff", 4: "Ravenclaw"}
new_houses = {n**3: house + "!!!" for (n, house) in houses.items()}
print(houses)
print(new_houses)

{1: 'Gryffindor', 2: 'Slytherin', 3: 'Hufflepuff', 4: 'Ravenclaw'}
{1: 'Gryffindor!!!', 8: 'Slytherin!!!', 27: 'Hufflepuff!!!', 64: 'Ravenclaw!!!'}

## Sets

A set is an unordered collection of data items. This is perhaps the simplest data structure in Python. We can think of it as a bag containing random items.

In [58]:
# Creating a set

random_set = {"Educative", 1408, 3.142,
              (True, False)}
print(random_set)
print(len(random_set))  # Length of the set

{1408, (True, False), 3.142, 'Educative'}
4

In [59]:
# Using the set() constructor

empty_set = set()
print(empty_set)

random_set = set({"Educative", 1408, 3.142, (True, False)})
print(random_set)

set()
{1408, (True, False), 3.142, 'Educative'}

In [60]:
# Adding elements to a set

empty_set = set()
print(empty_set)

empty_set.add(1)
print(empty_set)

empty_set.update([2, 3, 4, 5, 6])
print(empty_set)

set()
{1}
{1, 2, 3, 4, 5, 6}

In [61]:
# Deleting elements from a set using .discard() and .remove()

random_set = set({"Educative", 1408, 3.142, (True, False)})
print(random_set)

random_set.discard(1408)
print(random_set)

random_set.remove((True, False))
print(random_set)

{1408, (True, False), 3.142, 'Educative'}
{(True, False), 3.142, 'Educative'}
{3.142, 'Educative'}

In [62]:
# Looping through a set

odd_list = [1, 3, 5, 7]
unordered_set = {9, 10, 11, 12, 13, 14, 15, 16, 17}

print(unordered_set)

for num in unordered_set:
    if(not num % 2 == 0):
        odd_list.append(num)

print(odd_list)

{9, 10, 11, 12, 13, 14, 15, 16, 17}
[1, 3, 5, 7, 9, 11, 13, 15, 17]

## Set Theory Operations

Folks familiar with mathematics will know that sets have three main operations, union, intersection, and difference.

The set data structure in Python supports all three.

In [65]:
# Union

set_A = {1, 2, 3, 4, 'a'}
set_B = {'a', 'b', 'c', 'd'}

print(set_A | set_B)
print(set_A.union(set_B))
print(set_B.union(set_A))

{1, 2, 3, 4, 'a', 'd', 'b', 'c'}
{1, 2, 3, 4, 'a', 'd', 'b', 'c'}
{1, 2, 3, 4, 'a', 'd', 'b', 'c'}

In [66]:
# Intersection

set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}

print(set_A & set_B)
print(set_A.intersection(set_B))
print(set_B.intersection(set_A))

{2, 4}
{2, 4}
{2, 4}

In [67]:
# Difference

set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}


print(set_A - set_B)
print(set_A.difference(set_B))

print(set_B - set_A)
print(set_B.difference(set_A))

{1, 3}
{1, 3}
{8, 16}
{8, 16}

## Data Structure Conversions

The template for explicitly converting from one data structure to another is as follows:

destination_structure_name(source_structure_object)

In [72]:
# Converting to a list

star_wars_tup = ("Anakin", "Darth Vader", 1000)
star_wars_set = {"Anakin", "Darth Vader", 1000}
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}

star_wars_list = list(star_wars_tup)  # Converting from tuple
print(star_wars_list)

star_wars_list = list(star_wars_set)  # Converting from set
print(star_wars_list)

star_wars_list = list(star_wars_dict)  # Converting from dictionary
print(star_wars_list)

# Converting dict to list of tuples
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}

star_wars_list = list(star_wars_dict.items())
print(star_wars_list)

['Anakin', 'Darth Vader', 1000]
['Darth Vader', 1000, 'Anakin']
[1, 2, 3]
[(1, 'Anakin'), (2, 'Darth Vader'), (3, 1000)]

In [75]:
# Converting to a tuple

star_wars_list = ["Anakin", "Darth Vader", 1000]
star_wars_set = {"Anakin", "Darth Vader", 1000}
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}

star_wars_tup = tuple(star_wars_list)  # Converting from list
print(star_wars_tup)

star_wars_tup = tuple(star_wars_set)  # Converting from set
print(star_wars_tup)

star_wars_tup = tuple(star_wars_dict)  # Converting from dictionary
print(star_wars_tup)

('Anakin', 'Darth Vader', 1000)
('Darth Vader', 1000, 'Anakin')
(1, 2, 3)

In [77]:
# Converting to a set

star_wars_list = ["Anakin", "Darth Vader", 1000, "Anakin"]
star_wars_tup = ("Anakin", "Darth Vader", 1000, 1000)
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}

star_wars_set = set(star_wars_list)  # Converting from list
print(star_wars_set)

star_wars_set = set(star_wars_tup)  # Converting from tuple
print(star_wars_set)

star_wars_set = set(star_wars_dict)  # Converting from dictionary
print(star_wars_set)

{'Darth Vader', 1000, 'Anakin'}
{'Darth Vader', 1000, 'Anakin'}
{1, 2, 3}

In [78]:
# Convering to a dictionary

star_wars_list = [[1,"Anakin"], [2,"Darth Vader"], [3, 1000]]
star_wars_tup = ((1, "Anakin"), (2, "Darth Vader"), (3, 1000))
star_wars_set = {(1, "Anakin"), (2, "Darth Vader"), (3, 1000)}

star_wars_dict = dict(star_wars_list) # Converting from list
print(star_wars_dict)

star_wars_dict = dict(star_wars_tup) # Converting from tuple
print(star_wars_dict)

star_wars_dict = dict(star_wars_set) # Converting from set
print(star_wars_dict)

{1: 'Anakin', 2: 'Darth Vader', 3: 1000}
{1: 'Anakin', 2: 'Darth Vader', 3: 1000}
{1: 'Anakin', 2: 'Darth Vader', 3: 1000}

## Exercise: From List to Tuple

You are given a list called my_list. Using this list, you must create a tuple called my_tuple. The tuple will contain the listâ€™s first element, last element, and the length of the list, in that same order.

In [80]:
my_list = [34, 82.6, "Darth Vader", 17, "Hannibal"]

my_tuple = tuple([my_list[0], my_list[-1], len(my_list)])

print(my_tuple)

(34, 'Hannibal', 5)

## Exercise: Kth Maximum Integer in a List

Given a list of integers and a number k, find the kth largest integer in the list. The integer will be stored in the kth_max variable.

For example, with a list of 7 integers, if k = 2, then kth_max will be equal to the second-largest integer in the list. If k = 6, kth_max will equal the 6th largest integer.

In [82]:
test_list = [5,53,235,6345,23,3,21,34,4]
k=2

test_list.sort(reverse=True)
kth_max = test_list[k-1]
print(kth_max)

235

## Exercise: Highs and Lows

You must implement the count_low_high() function. Its parameter is a list of numbers.

If a number is greater than 50 or divisible by 3, it will count as a high. If these conditions are not met, the number is considered a low.

At the end of the function, you must return a list that contains the number of lows and highs, in that order.

In case the list is empty, you may return None.

In [94]:
num_list = [20, 9, 51, 81, 50, 42, 77]

def count_low_high(num_list):
    highs = [i for i in num_list if i > 50 or i %3 == 0]
    return [len([i for i in num_list if i not in highs]), len(highs)]

In [95]:
count_low_high(num_list)

[2, 5]